* {
    box-sizing: border-box;
}

.gameInfo {
    display: flex;
    flex-flow:column wrap;
    align-items: center;
}

.gameInfo > h1 {
    font-size: 60px;
}

#gameMessage {
    font-size: 22px;
}

#announceWinner {
    font-size: 28px;
}

.labels {
    display: flex;
    justify-content: space-around;
    width: 600px;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 575px;
}

.playerLabel, .compLabel {
    font-size: 45px;
    margin: 0 100px;
}

#playerScore, #compScore {
    margin: 0 145px;
    font-size: 30px;
}

.choices {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.btn {
    flex: auto;
    margin: 10px 30px;
    height: 40px;
    font-size: 20px;
}

.gameOverContainer {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
}

.gameOver {
    justify-content: center;
    text-align: center;
    background-color: #fff;
    box-shadow:rgba(0, 0, 0, 10);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 10px;
}

.gameOver h1 {
    margin: 0 0 30px;
}

.gameWinnerContainer {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
}

.gameWinner {
    justify-content: center;
    text-align: center;
    background-color: #fff;
    box-shadow:rgba(0, 0, 0, 10);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 10px;
}

.tryAgain {
    width: 170px;
    height: 50px;
    font-size: 18px;
}

.gameOverContainer.show {
    opacity: 1;
    pointer-events: auto;
}

.gameWinnerContainer.show {
    opacity: 1;
    pointer-events: auto;
}